.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProLight.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProThin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProRegular.otf") format("opentype");
  font-weight: 400;
}
body {
  margin: 0;
  font-family: "Cera Pro", sans-serif;
}
